@mixin btn($fourth: $primary) {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: $base-padding $base-padding * 2;
  border-radius: $base-border-radius;
  background-color: $fourth;
  width: fit-content;
}

.btn {
  @include btn;
}

.primary-btn {
  color: $white;
  background: linear-gradient(180deg, $pink 7%, $purple 100%);
  font-weight: 700;
  @include box-shadow;
  transition-property: transform;
  transition: all 400ms;
  &:hover {
    background: linear-gradient(
      180deg,
      lighten($pink, 5%),
      lighten($purple, 5%)
    );
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.31);
  }
}

@each $key, $val in $colors {
  .btn-#{$key} {
    @include btn($val);
    &:hover {
      background-color: lighten($color: $val, $amount: 5);
    }
  }
  .btn-outlined-#{$key} {
    @include btn(#fff);
    border: $base-border-thickness solid $val;
    &:hover {
      background-color: lighten($color: $val, $amount: 0);
    }
  }
}
