//theme colors
$primary: #f3f3f3;
$green: #99e2d0;
$third: #008766;
$fourth: #89c8fa;
$fifth: #003a68;
$purple: #9356dc;
$pink: #ff79da;
$info: blue;
$error: red;
$black: #353535;
$grey: #f6f6f6;
$white: #fff;
$background: #eaeaea;
$greenfont: #008766;
$icon: #7e7e7e;

//color palette
$colors: (
  "primary": $primary,
  "third": $third,
  "fourth": $fourth,
  "fifth": $fifth,
  "purple": $purple,
  "pink": $pink,
  "info": $info,
  "error": $error,
  "black": $black,
  "background": $background,
  "white": $white,
  "grey": $grey,
  "green": $green,
  "icon": $icon,
  "greenfont": $greenfont,
);

//SPACING
$base-padding: 0.75em;
$base-margin: 0.75em;
//BORDERS
$base-border-thickness: 0.3em;
$base-border-radius: 20px;
$big-border-radius: 40px;
//BOX-SHADOW
@mixin box-shadow {
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.31);
}
//FONT-SIZES
$base-font-size: 16px;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;
